/*white = rgb(255, 250, 213);*/
/*blue = rgb(16, 91, 99);*/
/*yellow = rgb(255, 211, 78);*/
/*orange = rgb(219, 158, 54);*/
/*red = rgb(189, 73, 50);*/

@import url(http://fonts.googleapis.com/css?family=Ubuntu);

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	line-height: 25px;
}

html { 
	margin: 0;
	padding: 0;
	background: url(../images/church-vertical.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	margin: 0;
	font: 400 16px/1.6 'Ubuntu', sans-serif;
}

input,
textarea {
	border-radius: 8px;
	box-shadow: inset 0 0 10px 0 #888;
}

/* HEADER */
.header {
	background: #bd4932;
	background: -moz-linear-gradient(top,  #2f7ed8 0%, #000000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2f7ed8), color-stop(100%,#000000));
	background: -webkit-linear-gradient(top,  #2f7ed8 0%,#000000 100%);
	background: -o-linear-gradient(top,  #2f7ed8 0%,#000000 100%);
	background: -ms-linear-gradient(top,  #2f7ed8 0%,#000000 100%);
	background: linear-gradient(to bottom,  #2f7ed8 0%,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f7ed8', endColorstr='#000000',GradientType=0 );
}
.header:after {
	content: "";
	display: table;
	clear: both;
}
.header figure {
	float: left;
	width: 25%;
	color: rgb(255, 250, 213);
}
.header img {
	width: 100%;
}
.header ul {
	float: left;
	margin: 0;
	list-style-type: none;
	width: 60%;
	padding-left: 0;
}
.header li {
	float: left;
	width: 33.3333%;
	font-size: 1.25rem;
	text-align: center;
}
.header li a {
	display: block;
	padding: 25px;
	text-decoration: none;
	color: rgb(255, 250, 213);
}
.header li a:hover {
	box-shadow: inset 0 0 10px 0 rgb(255, 250, 213);
}

.main {
	padding: 20px;
}









/* FOOTER */
.footer {
	padding: 10px;
	background: #000;
	color: rgb(255, 250, 213);
	text-align: center;
}
.footer:after {
	content: "";
	display: table;
	clear: both;
}
.footer ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}
.footer li {
	float: left;
	width: 33.3333%;
	text-align: center;
}
.footer li a {
	display: block;
	padding: 10px;
	color: rgb(255, 250, 213);
	text-decoration: none;
}


/* MEDIA QUERIES */
@media (min-width: 700px) {
	html { 
		background: url(/assets/images/church-horizontal.jpg) no-repeat center center fixed;
	}
}
