/*white = rgb(255, 250, 213);*/
/*blue = rgb(16, 91, 99);*/
/*yellow = rgb(255, 211, 78);*/
/*orange = rgb(219, 158, 54);*/
/*red = rgb(189, 73, 50);*/

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html { 
	margin: 0;
	padding: 0;
	background: url(/assets/images/church-vertical.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	margin: 0;
}

/* HEADER */
.header {
	background: rgb(189, 73, 50);
}
.header:after {
	content: "";
	display: table;
	clear: both;
}
.header ul {
	margin: 0;
	list-style-type: none;
	padding-left: 0;
}
.header li {
	float: left;
	width: 33.3333%;
	text-align: center;
}
.header li a {
	text-decoration: none;
	color: rgb(255, 250, 213);
}

.main {
	padding: 20px;
}









/* FOOTER */
.footer {
	background: rgb(189, 73, 50);
}
.footer:after {
	content: "";
	display: table;
	clear: both;
}
.footer ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}
.footer li {
	float: left;
	width: 33.3333%;
	text-align: center;
}
.footer li a {
	text-decoration: none;
	color: rgb(255, 250, 213);
}

/* MEDIA QUERIES */
@media (min-width: 700px) {
	html { 
		background: url(/assets/images/church-horizontal.jpg) no-repeat center center fixed;
	}
}
